{% extends 'app/user/main_template.html' %}
{% load staticfiles %}
{% load humanize %}
{% load el_pagination_tags %}
{% block cont-header %}
    <section class="content-header">
        <h1>
            Home
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'app:dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>

            <li class="active">Home</li>
        </ol>
    </section>
{% endblock %}

{% block body %}
    {#    <script src="{% static 'app/js/pusher.min.js' %}"></script>#}
    {#    <script>#}
    {##}
    {#        // Enable pusher logging - don't include this in production#}
    {#        Pusher.logToConsole = true;#}
    {##}
    {#        var pusher = new Pusher('528a97eda2db586836e3', {#}
    {#            encrypted: true#}
    {#        });#}
    {##}
    {#        var channel = pusher.subscribe('test_channel');#}
    {#        channel.bind('my_event', function(data) {#}
    {#            alert(data.message);#}
    {#        });#}
    {#    </script>#}

    <div class="content-wrapper" style="min-height: 1126px;">
        <!-- Content Header (Page header) -->


        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle"
                                 src="{{ request.user.get_profile.picture.url }}" alt="User profile picture">

                            <h3 class="profile-username text-center">{{ user.full_name }}
                            {% if user.is_verified %}<i class="fa fa-check btn-primary img-circle"></i>{% endif %}

                            </h3>

                            <p class="text-muted text-center">{{ user.user_type }}</p>

                            <ul class="list-group list-group-unbordered">

                                {% if user.user_type == 'Driver' %}
                                    <li class="list-group-item">
                                        <b>Rides shared</b> <a class="pull-right">{{ user.no_of_rides_shared }}</a>
                                    </li>
                                {% endif %}
                                <li class="list-group-item">
                                    <b>Rides taken</b> <a class="pull-right">{{ user.no_of_request_completed }}</a>
                                </li>

                        <!-- /.box-body -->
                    </div>




                </div>



                    <div class="box box-info">
                        <div class="box-header with-border">

                            <h3 class="box-title "><i class="fa fa-info"></i>&nbsp;Getting Started</h3>

                            <!-- /.box-tools -->
                        </div>

                        <div class="box-body ">
                            <p class="lead text-center">Welcome</p>

                            <p class="text-bold">What you can do...</p>
                            <dl>
                                <dt><a href="{% url 'app:search_ride' request.user.id %}">Search Rides</a></dt>
                                <dd><p>Are you looking to find a cheaper means of road transport,
                                    Search for rides going to your destination or passing your route.
                                    You can also put out a ride broadcast to your followers or anyone wiling to pick you up.
                                    Now you can find some new favourite place to chill out,you have no
                                    longer got excuse for not travelling and discovering.</p></dd>
                                <dt><a href="{% url 'app:requests_user_view' request.user.id %}">View Requested Rides</a></dt>
                                <dd><p>You can view all rides that you have requested for and their details.</p></dd>

                                {% if request.user.user_type == 'Driver' %}
                                <dt><a href="{% url 'app:add_ride' request.user.id %}">Add a Ride</a></dt>
                                <dd><p>You need to add a ride to your collection. Fill in the form and you are
                                ready to start sharing rides.</p></dd>
                                <dt><a href="{% url 'app:view_rides' request.user.id %}">Share a Ride</a></dt>
                                <dd><p>Are you getting sick of traveling alone and spent so much money on gas?
                                    Share your ride today,and forget about this problems. <span class="text-red
                                "><b>REMEMBER,</b></span> Only share rides with people you trust.</p></dd>
                                <dt><a href="{% url 'app:view_shared' request.user.id %}">View Shared Rides</a></dt>
                                <dd><p>You can view records of all requested rides so far</p></dd>
                                {% endif %}


                            </dl>

                        </div>
                    </div>

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->
    </div>
    

{% endblock %}
